* {
    font-family: Assistant;
}

body {
    background-image: linear-gradient(to left,#7bf551, #2b932c, green);
    align-items: center;
}

#header {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right,#228700, #60ff62, #228700);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#login {
    position: absolute;
    top: 158px;
    left: 589px;
}

#insert {
    position: absolute;
    top: 120px;
    left: 111px;
    font-size: 20px;
}

    #insert button {
        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 18px;
        background-image: linear-gradient(to right,#228700, green, #60c229);
    }

        #insert button:hover {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            background-image: linear-gradient(to right,#228700, #80ff73, #228700);
            border-radius: 18px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }

#BackPack {
    display:none;
    position: absolute;
    top: 261px;
    right: 15px;
  
    margin: 8px;
    
}
    #BackPack img {
        position:relative;
        width:165px;
        
    }
#two {
    right: -167px;
    top: 20px;
}

#one {
    right: -336px;
    top: 42px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px, rgba(0, 0, 0, 0.32) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#nickname {
    width: 80px;
}

#Bet img {
    width: 150px;
    margin: 5px;
   /* margin-bottom: 35px;*/
}

#Bet img:hover {
    width: 150px;
    margin: 5px;
    cursor:pointer;
    /* margin-bottom: 35px;*/
}
#Bet h1{
    padding-top:25px;
}


#Bet {
    display: none;
    position: absolute;
    top: 88px;
    left: 485px;
    text-align: center;
    float: left;
}

#giphy {
    display: none;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 601px;
}

iframe {
    border-radius: 140px;
}

#UserDetail {
    display: none;
    position: absolute;
    right: 0px;
    margin: 15px;
    width: 180px;
    top:68px;
    height: 170px;
    border-radius: 20px;
    background-image: linear-gradient(to left,#88509d, #e295ff);
    text-align: center;
    font-size: 22px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: linear-gradient(to left,#aeaa0a, #fffb55,#ebdb06);
    box-shadow: rgba(50, 50, 93, 0.99) 0px 50px 100px -20px, rgba(0, 0, 0, 0.99) 0px 30px 60px -30px, rgba(10, 37, 64, 0.99) 0px -2px 6px 0px inset;

}
/*#sumBet {
    display: none;
    position: absolute;
    left: 130px;
    margin: 15px;
    width: 130px;
    height: 99px;
    border-radius: 55px;
    background-image: linear-gradient(to left,#aeaa0a, #fffb55,#ebdb06);
    text-align: center;
    font-size: 30px;
   
    box-shadow: rgba(50, 50, 93, 0.99) 0px 50px 100px -20px, rgba(0, 0, 0, 0.99) 0px 30px 60px -30px, rgba(10, 37, 64, 0.99) 0px -2px 6px 0px inset;
}*/
#ph-cards {
    position: absolute;
    top: 262px;
    right: 24px;
}
.OneCard {
    width: 165px;
    left: 0px;
    top: 0px;
}
.front img {
    width: 165px;
    position: absolute;
    z-index: 333;
}

.back img {
    width: 165px;
    position: absolute;
    z-index: 1;
}




.pokerChip:before {
    z-index: 1;
}
.pokerChip:after {
    z-index:2;
}

.pokerChip:hover {
    -webkit-animation: 2s rotate-right linear infinite;
    animation: 2s rotate-right cubic-bezier(0.13, 0.83, 0.35, 0.91) infinite;
}


#loginChips:before {
    z-index: 1;
}

#loginChips:after {
    z-index: 2;
}

#loginChips:hover {
    -webkit-animation: 0.5s rotate-right linear 2s;
    animation: 0.5s rotate-right cubic-bezier(0.13, 0.83, 0.35, 0.91);
}


@-webkit-keyframes rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#GoBTN {
    width: 85px;
    
    font-size: 25px;
    border-radius: 18px;
    background-image: linear-gradient(to right,#228700, green, #60c229);
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    #GoBTN:hover {
        width: 85px;
        cursor:pointer;
        font-size:25px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        background-image: linear-gradient(to right,#228700, #80ff73, #228700);
        border-radius: 18px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

#Tie {
    display:none;
    position:absolute;
    top:-1800px;
    left:450px;
    background-image: linear-gradient(to right,#741414, #b06060, #19184a);
    width: 250px;
    height: 200px;
    border-radius: 15px;
    text-align:center;

    box-shadow: rgba(50, 50, 93, 0.99) 0px 50px 100px -20px, rgba(0, 0, 0, 0.99) 0px 30px 60px -30px, rgba(10, 37, 64, 0.99) 0px -2px 6px 0px inset;
}

    #Tie h1{
        margin:5px;
        font-size:45px;
    }
#tieTitle2{
    color:#7b0505
}
#BtnSet2 {
    opacity: 0;
    position: absolute;
    top: -640px;
    left: 490px;
}

#BtnSet1 {
    opacity: 0;
    position: absolute;
    top: -640px;
    left: 490px;
}


#BtnSet {
    opacity: 0;
    position: absolute;
    top: -640px;
    left: 490px;
}

:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");



*::before,
*::after {
    box-sizing: border-box;
}





button.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 15px;
}

    button.big-button::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--colorShadeC);
        border-radius: inherit;
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
        transform: translate3d(0, 0.75em, -1em);
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }

    button.big-button:hover {
        background: var(--colorShadeD);
        transform: translate(0, 0.375em);
        background-color: #ff0000;
    }

        button.big-button:hover::before {
            transform: translate3d(0, 0.75em, -1em);
        }

    button.big-button:active {
        transform: translate(0em, 0.75em);
    }

        button.big-button:active::before {
            transform: translate3d(0, 0, -1em);
            box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
        }

#STAND:hover {
    cursor:pointer;
    background-image: linear-gradient(to right, #cb0000, #ff9696,#690303);
    color: black
}

#HIT:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #03019c, #6266e9,#101170);
    color: black
}

#DOUBLE:hover {
    cursor: pointer;
   
    background-image: linear-gradient(to right, #1f9a1d, #63d261,#104e0b);
    color: black
}

#SPLIT:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #c0cb02, #ca890a,#f0f01f);
    color: black
}

#create{
    font-size:14px;
}

#STAND1:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #cb0000, #ff9696,#690303);
    color: black
}

#HIT1:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #03019c, #6266e9,#101170);
    color: black
}

#DOUBLE1:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #c0cb02, #ca890a,#f0f01f);
    color: black
}

#SPLIT1:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #1f9a1d, #63d261,#104e0b);
    color: black
}



#STAND2:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #cb0000, #ff9696,#690303);
    color: black
}

#HIT2:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #03019c, #6266e9,#101170);
    color: black
}

#DOUBLE2:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #c0cb02, #ca890a,#f0f01f);
    color: black
}

#SPLIT2:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #1f9a1d, #63d261,#104e0b);
    color: black
}

#PlayerScore {
    opacity:0;
    position: absolute;
    top: 330px;
    left: 650px;
    background-image: linear-gradient(to right, #ac7812, #f1c920,#b68807);
    border-radius: 50%;
    font-size: 34px;
    padding: 8px;
    padding-left:10px;
    padding-right:10px;
    box-shadow: rgba(50, 50, 93, 0.65) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px, rgba(10, 37, 64, 0.85) 0px -2px 6px 0px inset;
}


#PlayerScore1 {
    opacity: 0;
    position: absolute;
    top: 280px;
    left: 650px;
    background-image: linear-gradient(to right, #ac7812, #f1c920,#b68807);
    border-radius: 50%;
    font-size: 34px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.65) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px, rgba(10, 37, 64, 0.85) 0px -2px 6px 0px inset;
}
#Ad {
    position: absolute;
    opacity:0;
    top: -1000px;
    left: 0px;
    text-align: center;
    background-image: linear-gradient(to right, #222222, #2c2c2c,#757575);
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#X {
    position: absolute;
    right: 20px;
    font-size: 15px;
    padding: 8px;
    border-radius: 50%;
    width:15px;
    height:15px;
    text-align:center;
    background-image: linear-gradient(to right, #9c4040, #a02626,#757575);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
    #X:hover {
        position: absolute;
        right: 20px;
        font-size: 15px;
        padding: 8px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        color: red;
        cursor: pointer;
        border-radius: 50%;
        background-image: linear-gradient(to right, #9c4040, #a02626,#757575);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
#Ad img {
   width:220px;
}
    #Ad h1 {
        background-image: linear-gradient(to left, #222222, #2c2c2c,#757575);
        border-radius:35px;
        padding:15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

#linkGift{
    font-size:24px;
}
#gift {
    color: #41a341;
    font-size: 45px;
}
#Ad a:hover {
    color: #4ade3f;
    cursor: pointer;
}

#PlayerScore2 {
    opacity: 0;
    position: absolute;
    top: 280px;
    left: 650px;
    background-image: linear-gradient(to right, #ac7812, #f1c920,#b68807);
    border-radius: 50%;
    font-size: 34px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.65) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px, rgba(10, 37, 64, 0.85) 0px -2px 6px 0px inset;
}





#Winnig {
    position: absolute;
    top: -1500px;
    left: 0px;
    width: 600px;
}
    #Winnig img{
        width:600px;
    }
    #Losing {
        position: absolute;
        top: -1500px;
        left: 0px;
    }

#DealerScore {
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 650px;
    background-image: linear-gradient(to right, #7a0c0c, #e84b4b,#930909);
    border-radius: 50%;
    font-size: 34px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.55) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px, rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;
}